#BMI Health Risk Identification

## Description
You are tasked with writing a function that takes a list of Body Mass Index (BMI) values and identifies the number of people who are overweight and underweight. The function should return a dictionary with the counts of these categories.

A person is categorized as:

Overweight if BMI > 25
Underweight if BMI < 18.5
Your function should return a dictionary with the format:

{
    'Overweight': <count>,
    'Underweight': <count>
}

## Instructions
1. Define a function identify_health_risks that takes a list of BMI values as input.
2. Create a dictionary to store the count of overweight and underweight individuals.
3. Loop through the BMI values and update the dictionary based on the given conditions.
4. Return the dictionary.
5. Print the result.


## Test Cases
###Input - 1

`bmi_values = [25, 30, 18.5, 28, 21]`

`result = identify_health_risks(bmi_values)
print(result)`

###Expected Output - 1

`{'Overweight': 2, 'Underweight': 0}`

In [1]:
# Your code here
def identify_health_risks(bmi_values):
    status = {"Overweight": 0,
        "Underweight": 0}
    for i in range(len (bmi_values)):
        if bmi_values[i] > 25:
            status["Overweight"] += 1
        elif bmi_values[i] < 18.5:
            status["Underweight"] += 1
        else:
            pass
    return status


# Input
bmi_values = [16, 17.75, 24, 26, 32]
result = identify_health_risks(bmi_values)
print(result)

{'Overweight': 2, 'Underweight': 2}

In [26]:
def identify_health_risks(bmi_values):
  return {"Overweight": sum(1 for i in bmi_values if i > 25),
          "Underweight": sum(1 for i in bmi_values if i < 18.5)
        }

# Input
bmi_values = [16, 17.75, 24, 26, 32]
result = identify_health_risks(bmi_values)
print(result)

{'Overweight': 2, 'Underweight': 2}

#Feature Normalization

##Description
You are tasked with writing a function that normalizes a list of numerical values using min-max scaling. This technique transforms the data so that all values fall within the range [0, 1].

The normalization formula is:

![image.png]()

where:

1. X is the original value
2. Min is the minimum value in the dataset
3. Max is the maximum value in the dataset
4. Your function should return a list of normalized values rounded to three decimal places.


##Instructions
1. Define a function normalize_features that takes a list of numerical values as input.
2. Find the minimum and maximum values in the list.
3. Apply the min-max normalization formula to each element.
4. Return a list of normalized values rounded to three decimal places.
5. Print the result.

##Test Cases
###Input - 1

`house_features = [1023, 1423, 1184, 2020, 1514]`

`result = normalize_features(house_features)`

`print(result)`

###Expected Output - 1

`[0.0, 0.401, 0.161, 1.0, 0.492]`

In [6]:
import numpy as np
def normalize_features(house_features):
  return np.round((house_features - np.min(house_features)) / (np.max(house_features) - np.min(house_features)), 3).tolist()

# Input
house_features = [1023, 1423, 1184, 2020, 1514]
output = normalize_features(house_features)
print(output)

[0.0, 0.401, 0.161, 1.0, 0.492]

#Sales Metrics Calculation

##Description
You are tasked with writing a function that calculates key sales metrics from a given list of sales data. Each entry in the sales data contains:

`units_sold`: The number of units sold.

`revenue`: The total revenue generated from those units.

The function should compute and return:

1. Total Units Sold: The sum of all units sold.
2. Total Revenue: The sum of all revenue values.
3. Average Revenue per Unit: The total revenue divided by total units sold, rounded to one decimal place. If no units were sold, return 0.0.

##Instructions
1. Define a function calculate_sales_metrics that takes a list of sales data as input.
2. Calculate the total units sold and total revenue.
3. Compute the average revenue per unit.
4. Return the results in a dictionary format.
5. Print the result.

##Test Cases
###Input - 1

`sales_data = [
    {'units_sold': 100, 'revenue': 1000.0},
    {'units_sold': 200, 'revenue': 2000.0},
    {'units_sold': 150, 'revenue': 1500.0}
]`

`result = calculate_sales_metrics(sales_data)
print(result)`

###Expected Output - 1

`{'total_units_sold': 450, 'total_revenue': 4500.0, 'average_revenue_per_unit': 10.0}`

In [24]:
import numpy as np
def calculate_sales_metrics(sales_data):
  return {'total_units_sold': sum(i['units_sold'] for i in sales_data),
          'total_revenue': sum(i["revenue"] for i in sales_data),
          'average_revenue_per_unit': sum(i["revenue"] for i in sales_data) / sum(i['units_sold'] for i in sales_data) if sum(i['units_sold'] for i in sales_data) !=0 else 0
  }
# Input
sales_data = [
    {'units_sold': 100, 'revenue': 1000.0},
    {'units_sold': 200, 'revenue': 2000.0},
    {'units_sold': 150, 'revenue': 1500.0}
]
result = calculate_sales_metrics(sales_data)
print(result)

{'total_units_sold': 450, 'total_revenue': 4500.0, 'average_revenue_per_unit': 10.0}

#Stock Price Change Identification

##Description
You are tasked with writing a function that identifies significant changes in stock prices based on a given threshold percentage. The function should return a list of days where the percentage change exceeds the threshold.

The percentage change is calculated as:

$ \text{Persentage Change} = \frac{\text{Current Price} - \text{Previoues Price}}{Previoues Price} × 100$.


A significant change occurs if the absolute percentage change is greater than the given threshold.


##Instructions
1. Define a function identify_price_changes that takes a list of stock prices and a threshold percentage.
2. Iterate through the list and calculate the percentage change for each day (starting from the second day).
3. Identify days where the absolute percentage change exceeds the threshold.
4. Return a list of day labels where significant changes occur (e.g., 'Day 2', 'Day 4').
5. Print the result.

##Test Cases
###Input - 1

`stock_prices = [150, 155, 152, 145, 140, 137]`

`threshold = 3`

`result = identify_price_changes(stock_prices, threshold)`

`print(result)`

###Expected Output - 1

`['Day 2', 'Day 4', 'Day 5']`

In [39]:
# Your code here
def identify_price_changes(stock_prices, threshold):
    days = list()
    for i in range(len(stock_prices)-1):
        percentage_change = abs((stock_prices[i+1] - stock_prices[i])/stock_prices[i]) * 100
        if percentage_change > threshold:
            days.append(f"Day {i+2}")
        else:
            pass
    return days


# Input
stock_prices = [150, 155, 152, 145, 140, 137]
threshold = 3
result = identify_price_changes(stock_prices, threshold)
print(result)

['Day 2', 'Day 4', 'Day 5']

#Standard Deviation Calculation

##Description
You are tasked with writing a function that calculates the standard deviation of a given list of numerical feedback scores. The standard deviation measures the spread of data relative to its mean using the formula:

![image.png]()


where:

( X_i ) is each individual score

( \mu ) is the mean of the scores

( N ) is the number of scores

Your function should return the standard deviation rounded to two decimal places.


##Instructions
1. Define a function calculate_std_deviation that takes a list of feedback scores as input.
2. Calculate the mean of the list.
3. Compute the variance by summing the squared differences between each score and the mean, divided by the total number of scores.
4. Take the square root of the variance to obtain the standard deviation.
5. Round the result to two decimal places and return it.
6. Print the result.

##Test Cases
###Input - 1

`feedback_scores = [5, 6, 6, 7, 5, 4, 6]`
`result = calculate_std_deviation(feedback_scores)`
`print(result)`
###Expected Output - 1

`0.9`

In [41]:
import numpy as np
def calculate_std_deviation(feedback_scores):
  return np.round(np.std(feedback_scores), 2)

# Input
feedback_scores = [10, 20, 30, 40, 50]
result = calculate_std_deviation(feedback_scores)
print(result)

14.14

#Invalid Data Type Checker

##Description
You are tasked with writing a function that checks whether the data types of values in a dataset match their expected types. The function should return a list of keys where at least one value in the dataset does not match the expected data type.

The function should:

1. Iterate through each dictionary (record) in the dataset.
2. Compare each field’s data type with the expected type.
3. Collect and return a list of keys where mismatches occur (duplicates should be avoided).

Instructions
1. Define a function check_invalid_data_types that takes a list of dictionaries (dataset) and a dictionary of expected data types (expected_types).
2. Iterate through the dataset and check whether each field matches the expected type.
3. If a mismatch is found, add the field name to the result list (avoid duplicates).
4. Return the list of fields with invalid data types.
Print the result.

##Test Cases
###Input - 1

`dataset = [
    {"id": 1, "name": "David", "age": 28, "email": "david@example.com"},
    {"id": 2, "name": "Emma", "age": 34, "email": "emma@example.com"}
]`

`expected_types = {
    "id": int,
    "name": str,
    "age": int,
    "email": str
}`

`result = check_invalid_data_types(dataset, expected_types)`

`print(result)`

###Expected Output - 1

[]
###Input - 2

`dataset = [
    {"id": "1", "name": "Alice", "age": "25", "email": 12345},
    {"id": 2, "name": "Bob", "age": 30, "email": "bob@example.com"}
]`

`expected_types = {
    "id": int,
    "name": str,
    "age": int,
    "email": str
}`

`result = check_invalid_data_types(dataset, expected_types)`

`print(result)`

###Expected Output - 2

`["id", "age", "email"]`

In [ ]:
def check_invalid_data_types(dataset, expected_types):
    return list({
        key
        for record in dataset
        for key, value in record.items()
        if not isinstance(value, expected_types[key])
    })

#Input
dataset = [
    {"id": 1, "name": "David", "age": 28, "email": "david@example.com"},
    {"id": 2, "name": "Emma", "age": 34, "email": "emma@example.com"}
]
expected_types = {
    "id": int,
    "name": str,
    "age": int,
    "email": str
}
result = check_invalid_data_types(dataset, expected_types)
print(result)

#Sensor Anomaly Detection

##Description
You are tasked with writing a function that detects anomalies in sensor data. Each sensor records multiple temperature readings, and a sensor is considered anomalous if any of its recorded temperatures exceed a given threshold.

The function should:

1. Iterate through each sensor in the dataset.
2. Check if any temperature reading exceeds the given threshold.
3. Return a list of sensor IDs that have recorded anomalous temperatures.
4. By default, the threshold temperature is set to 40.0.


Instructions
1. Define a function detect_anomalies that takes a list of sensor data and an optional threshold.
2. Iterate through the dataset and check if any recorded temperature exceeds the threshold.
3. Collect and return a list of sensor IDs that exceed the threshold.
Print the result.

##Test Cases
###Input - 1

`sensor_data = [
    {"id": 1, "temperature": [27.5, 28.0, 29.3, 35.1, 40.2]},
    {"id": 2, "temperature": [25.2, 26.1, 27.0, 27.5, 30.0]},
    {"id": 3, "temperature": [22.0, 23.5, 45.0, 46.2, 48.5]}
]`

`threshold = 40.0`

`result = detect_anomalies(sensor_data, threshold)`

`print(result)`

###Expected Output - 1

`[1, 3]`

In [3]:
def detect_anomalies(sensor_data, threshold):
  sensor_anomalies = list()
  for i in sensor_data:
    for j in i["temperature"]:
      if j > threshold:
        sensor_anomalies.append(i["id"])
        break
  return sensor_anomalies
sensor_data = [
    {"id": 6, "temperature": [25.0, 26.1, 27.3, 28.5, 45.2]},
    {"id": 7, "temperature": [29.0, 30.2, 31.5, 32.7, 50.0]}
]
threshold = 44.0
result = detect_anomalies(sensor_data, threshold)
print(result)

[6, 7]

#Product Quantity Count

##Description
You are tasked with writing a function that calculates the total quantity of each product from a given list of transactions. Each transaction contains:

`id`: The transaction ID.

`product`: The name of the product.

`quantity`: The number of units sold in the transaction.

The function should return a dictionary where:
- The keys are product names.
- The values are the total quantity sold for each product.

Instructions
1. Define a function quantity_count that takes a list of transactions as input.
2. Iterate through the transactions and update the count for each product.
3. Store the product quantities in a dictionary.
4. Return the dictionary.
5. Print the result.

##Test Cases
###Input - 1

`transactions = [
    {"id": 101, "product": "Laptop X", "quantity": 2},
    {"id": 102, "product": "Smartphone Y", "quantity": 1},
    {"id": 103, "product": "Laptop X", "quantity": 3},
    {"id": 104, "product": "Chair A", "quantity": 4},
    {"id": 105, "product": "Table Z", "quantity": 1}
]`

`result = quantity_count(transactions)`

`print(result)`

###Expected Output - 1

`{"Laptop X": 5, "Smartphone Y": 1, "Chair A": 4, "Table Z": 1}`

In [6]:
def quantity_count(transactions):
  dict_product = {}
  for i in transactions:
    product = i["product"]
    quantity = i["quantity"]
    if product in dict_product:
      dict_product[product] += quantity
    else:
      dict_product[product] = quantity

  return

transactions = [
    {"id": 101, "product": "Laptop X", "quantity": 2},
    {"id": 102, "product": "Smartphone Y", "quantity": 1},
    {"id": 103, "product": "Laptop X", "quantity": 3},
    {"id": 104, "product": "Chair A", "quantity": 4},
    {"id": 105, "product": "Table Z", "quantity": 1}
]
result = quantity_count(transactions)
print(result)

Laptop X 2
Smartphone Y 1
Laptop X 3
Chair A 4
Table Z 1
None

#Customer Total Spending Calculation

#Description
You are tasked with writing a function that calculates the total spending of each customer based on their purchase history. The data is structured as a dictionary where:

- Each customer has a unique ID.
- Each customer has a name and a list of orders.
- Each order consists of a product and its price.

The function should return a dictionary where:

- The keys are customer names.
- The values are the total amount spent by each customer.

Instructions
1. Define a function calculate_total_spending that takes a dictionary of customer transactions as input.
2. Iterate through each customer's orders and calculate the total amount spent.
3. Store the results in a dictionary with customer names as keys.
4. Return the dictionary.
5. Print the result.

##Test Cases
###Input - 1

`customers = {
    "C001": {
        "name": "Alice",
        "orders": [
            {"product": "Laptop X", "price": 12000000},
            {"product": "Mouse", "price": 200000}
        ]
    },
    "C002": {
        "name": "Bob",
        "orders": [
            {"product": "Smartphone Y", "price": 5500000}
        ]
    },
    "C003": {
        "name": "Charlie",
        "orders": [
            {"product": "Monitor", "price": 2000000},
            {"product": "Keyboard", "price": 500000}
        ]
    }
}`

`result = calculate_total_spending(customers)`

`print(result)`

###Expected Output - 1

`{"Alice": 12200000, "Bob": 5500000, "Charlie": 2500000}`

In [64]:
import numpy as np

def calculate_total_spending(customers):
  hasil = {}
  for i in customers:
    name = customers[i]["name"]
    hasil[name] = 0
    for j in customers[i]["orders"]:
      price = j["price"]
      print(price)
      if name in hasil:
        hasil[name] += price
      else:
        hasil[name] = price
  return hasil

customers = {
    "C001": {
        "name": "Alice",
        "orders": [
            {"product": "Laptop X", "price": 12000000},
            {"product": "Mouse", "price": 200000}
        ]
    },
    "C002": {
        "name": "Bob",
        "orders": [
            {"product": "Smartphone Y", "price": 5500000}
        ]
    },
    "C003": {
        "name": "Charlie",
        "orders": [
            {"product": "Monitor", "price": 2000000},
            {"product": "Keyboard", "price": 500000}
        ]
    }
}
result = calculate_total_spending(customers)
print(result)

12000000
200000
5500000
2000000
500000
{'Alice': 12200000, 'Bob': 5500000, 'Charlie': 2500000}

#Product Ranking by Revenue

##Description
You are tasked with writing a function that ranks products based on their total revenue. Each product has:

- `product`: The product name.
- `sold`: The number of units sold.
- `price`: The price per unit.

The function should compute and return a list of tuples where:

- The first element is the product name.
- The second element is the total revenue (calculated as sold * price).
- The list is sorted in descending order based on total revenue.

Instructions
1. Define a function rank_products that takes a list of product sales data as input.
2. Calculate the total revenue for each product.
3. Sort the products based on total revenue in descending order.
4. Return the sorted list of tuples.
5. Print the result.

##Test Cases
###Input - 1

sales_data = [
    {"product": "Laptop X", "sold": 10, "price": 12000000},
    {"product": "Smartphone Y", "sold": 20, "price": 5500000},
    {"product": "Monitor", "sold": 15, "price": 3000000},
    {"product": "Keyboard", "sold": 50, "price": 500000}
]

result = rank_products(sales_data)

print(result)

###Expected Output - 1

`[("Laptop X", 120000000), ("Smartphone Y", 110000000), ("Monitor", 45000000), ("Keyboard", 25000000)]`

In [81]:
def rank_products(sales_data):
  hasil = list(tuple())
  for i in sales_data:
    revenue = i["sold"] * i["price"]
    product = i["product"]
    hasil.append((product, revenue))

  hasil.sort(reverse=True)
  return hasil


sales_data = [
    {"product": "Monitor C", "sold": 0, "price": 4000000},
    {"product": "Mouse D", "sold": 10, "price": 300000}
]
result = rank_products(sales_data)
print(result)

[('Mouse D', 3000000), ('Monitor C', 0)]