### List

In [15]:
#List methods
list_1 = [3,4,5,6]
list_2 = ['String', 'sstring2']

print(len(list_1)) #panjang list
list_1.append(5) #add some values
list_1.insert(0, 5) #insert value with an index
print(3 in list_1) #check if ithis value in a list
print(list_1.index(5)) #find index for a value
print(list_1.count(5)) #calculate values
list_1.remove(3) #remove some value
list_1.pop(4) #remve the value which is same number or index

print(list_1)

4
True
0
3
[5, 4, 5, 6]

### Dictionary

`Dictionary` merupakan struktur data seperti `list`. Dalam `list`, indeks merupakan bilangan bulat, namun di dalam `dictionary` indeks bisa (hampir) tipe data apa saja.

`Dictionary` juga bisa dianggap sebagai pemetaan antara sebuah indeks yang disebut **keys** dan sebuah **value**. Setiap key **memetakan** ke suatu value. Hubungan key dan value ini disebut **key-value pair**.

Sebuah `dictionary` dalam python di representasikan dengan tanda **kurung kurawal** `{}`.

`key` dan `value` setiap element dipisahkan dengan tanda **titik dua** `:`

Lalu, element satu dengan element yang lain dipisahkan oleh **tanda koma** `,`

Contoh pendefinisian dictionary:

```python
NAMA_DICT = {'name': 'Bob',
             'age': 25,
             'job': 'Dev',
             'city': 'New York',
             'email': 'bob@web.com'}
```


`Dictionary` mutable dan immutable. `key` pada `dictionary` tidak dapat diubah, harus dihapus terlebih dahulu. Untuk `value` pada dictionary kita bisa menggantinya, karena value memiliki sifat `mutable`.

misalkan:


```
dict_1 = {'Nama': 'Dani', 'Usia':24}
dict_2 = {'Nama': 'Lala', 'Usia':19}
```

|Fungsi|Method|Penggunaan|Output|
|-|-|-|-|
|mengetahui panjang dictionary|`len()`|`len(dict_1)`|`2`
|mendapatkan element dari key|`get(NAMA_KEY)`|`dict_1.get('Nama')`|`Dani`|
|mendapatkan semua key |`keys()`|`dict_1.key()`|`['Nama', 'Usia']`|
|mendapatkan semua value|`values()`|`dict_1.values()`|`['Dani', 19']`
|mengeluarkan atau menghapus key dan value |`pop()`| `dict_1.pop('Usia')`|`{'Nama':'Dani'}`|
|menambah atau menggabungkan data|`update()`|`dict_1.update(dict_2)`|`{'Nama': 'Dani', 'Usia':24, 'Nama': 'Lala', 'Usia':19}`
|membuat duplikasi|`copy()`|`dict_1.copy()`|duplikasi dari dict_1
|menghapus semua key dan value|`clear()`|`dict_1.clear`|`{}`|

In [1]:
dict_1 = {"Hewan" : ["Kucing", "Anjing","Ayam"],
          "Usia": 16}

print(dict_1["Hewan"][0])

Kucing

### Tuple

**Tuple** merupakan sebuah struktur data yang nilainya dapat berupa tipe data apa saja. `Tuple` sangat mirip dengan `list`. Perbedaan pentingnya adalah `tuple` tidak dapat diubah (**immutable**). Sebuah `tuple` dalam Python di representasikan dengan **tanda kurung** `()` dan dipisahkan oleh **tanda koma** `,`

Untuk membuat tuple dengan hanya **satu element** saja, kita harus tetap **memasukkan** tanda koma di akhir.

In [4]:
tuple_1 = ('Jeruk',)
print(f'{type(tuple_1)}')
print(tuple_1[0])

<class 'tuple'>
Jeruk

misalkan:


```
tuple_1 = (3, 3, 4, 5)
tuple_2 = ('string_1', 'string_3')
```

|Fungsi|Method|Penggunaan|Output|
|-|-|-|-|
|mengetahui panjang tuple|`len()`|`len(tuple_1)`|`4`|
|melihat apakah item ada di dalam tuple atau tidak|`in`| `3 in tuple_1`|`True`|
|mencari indeks element di dalam tuple|`index(value)`|`tuple_1.index(4)`|`2`|
|menghitung suatu element di dalam tuple|`count(value)`|`tuple_1.count(3)`|`2`
|menggabungkan dua tuple|`+`|`tuple_1 + tuple_2`|`(3, 3, 4, 5, 'string_1', 'string_3')`

In [7]:
a = (4,5,6)
b = (8,9,0)

list = a + b

print(list)
print(type(list))
print(list.count(3))

(4, 5, 6, 8, 9, 0)
<class 'tuple'>
0

### Set

**Set** adalah sebuah struktur data yang memungkinkan kita untuk menyimpan sebuah data dengan tidak berurutan **(unordered)**. Setiap element di dalam set adalah **unique** (tidak ada duplikat).

**Set** ini bisa berisi tipe data seperti `string`, `integer`, `float`, bahkan `tuple`. Namun di dalam set tidak diperbolehkan untuk menyimpan tipe data seperti `list`, `set`, atau `dictionary` sebagai sebuah elements.

Set sendiri merupakan tipe data yang bisa diubah **(mutable)**, namun **element** pada set tidak bisa dimodifikasi atau di ubah **(immutable)**

In [8]:
# coba jalankan code dibawah ini

print({'Gitar', 'Seruling', 'Drum'})

{'Gitar', 'Seruling', 'Drum'}

In [9]:
# coba jalankan code di bawah
num_set = {1, 2, 3, 3, 1, 4}
buah_set = {'Semangka', 'Alpukat', 'Apel', 'Semangka', 'Apel'}

print(num_set)
print(buah_set)

{1, 2, 3, 4}
{'Apel', 'Alpukat', 'Semangka'}

misalkan:


```
set_1 = {3, 4, 5, 6}
set_2 = {1, 2, 3, 6}
```

|Fungsi|Method|Penggunaan|Output|
|-|-|-|-|
|mengetahui panjang set|`len()`|`len(set_1)`|`4`|
|melihat apakah item ada di dalam set atau tidak|`in`| `3 in set_1`|`True`|
|menambah element|`add(value)`|`set_1.add(7)`|`{3, 4, 5, 6, 7}`|
|menambah set, list atau tuple ke dalam set|`update(value)`|`set_1.update(set_2)`|`{1, 2, 3, 4, 5, 6}`
|menghapus element dari dalam set|`discard(value)`|`set_1.discard(3)`|`{4,5,6}`
|Gabungan (Union)|`union(value)`|`set_1.union(set_2)`|`{1, 2, 3, 4, 5, 6}`
|Irisan (Intersection)|`intersection(value)`|`set_1.intersection(set_2)`|`{3, 6}`

### Study Case 1: Gaji Karyawan Perusahaan
___

Karyawan Perusahaan T memiliki gaji sebagai berikut

|Nama Karyawan | Gaji|
|-|-|
|Wawan | 4.500.000|
|Dilla | 4.000.000|
|Leo | 4.000.000|
|Ayu| 3.500.000|
|Lutfi | 3.200.000|

Buatlah sebuah dictionary untuk menyimpan nama dan gaji karyawan Perusahaan T.


```
Keterangan:
 - bentuk dictionary = {nama_karyawan:gaji}
```

In [19]:
# buat variabel dahulu untuk menyimpan dictionary-nya
karyawan = {"Wawan": 4500000,
            "Dilla": 4000000,
            "Leo": 4000000,
            "Ayu": 3500000,
            "Lutfi": 3200000}

# kemudian print gaji masing-masing karyawan

print(karyawan)

{'Wawan': 4500000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000}

Karena perusahaan T merasa kekurangan karyawan, Pimpinan akan merekrut tiga karyawan baru. Tiga karyawan tersebut adalah

|Nama|Gaji|
|-|-|
|Ezra|3.200.000|
|Ricardo|3.200.000|
|Samsul|3.500.000|

In [20]:
# buat dictionary baru untuk menyimpan karyawan yang baru masuk
karyawan_new = {"Ezra": 3200000,
                "Ricardo": 3200000,
                "Samsul": 3500000}

# gunakan method update untuk menambahkan karyawan baru
karyawan.update(karyawan_new)

# print variabel dictionary yang digunakan untuk menyimpan nama karyawan
print(karyawan)

{'Wawan': 4500000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000, 'Ezra': 3200000, 'Ricardo': 3200000, 'Samsul': 3500000}

Leo dipromosikan jabatannya menjadi lebih tinggi karena pekerjaanya yang bagus. Gaji Leo naik menjadi 7.500.000.

In [24]:
# ubah gaji Leo menjadi 7.500.000
print(karyawan["Leo"])
karyawan["Leo"] = 7500000
# print gaji Leo sekarang
print(karyawan["Leo"])

4000000
7500000

### Study Case 3: Koleksi Mainan

Rizki memiliki sebuah koleksi mainan berbentuk hewan yang banyak. Dia memindahkan mainannya ke kardus baru, karena kardus yang lama sudah rusak. Urutan mainan hewan yang dipindahkan adalah seperti berikut.


```
kuda, anjing, kucing, gajah, kucing, burung, ular, ayam, bebek, jerapah, macan, anjing, burung, kelinci
```

In [25]:
mainan = ('kuda', 'anjing', 'kucing', 'gajah', 'kucing', 'burung', 'ular', 'ayam', 'bebek', 'jerapah', 'macan', 'anjing', 'burung', 'kelinci')
print(mainan)

('kuda', 'anjing', 'kucing', 'gajah', 'kucing', 'burung', 'ular', 'ayam', 'bebek', 'jerapah', 'macan', 'anjing', 'burung', 'kelinci')

Saat memasukkan ke dalam kardus baru Rizki sadar bahwa ada mainan hewan yang jumlahnya lebih dari satu.

Dengan fungsi `input()` coba munculkan banyak hewan tertentu yang dimiliki Rizki!



```
Keterangan
Misalkan kita ketik mainan hewan kelinci
akan muncul jumlah mainan tersebut
```

In [27]:
# buat sebuah variabel untuk menampung input
cek = input("Masukkan mainan hewan yang ingin diketahui jumlahnya: ")

# hitung banyak hewan dalam tuple dengan method count()
# masukkan variabel yang dijadikan input tadi ke method count
print(f"Jumlah mainan kucing yang dimiliki rizki sebanyak {mainan.count(cek)}")

# print jumlah mainan hewan yang ingin dicari
...

Jumlah mainan kucing yang dimiliki rizki sebanyak 1

Ellipsis

### Case Study 4: Inventori Gudang
___

Perusahaan Z memiliki dua gudang yang digunakan untuk menyimpan barang yang telah selesai di produksi. Pak Handoko selaku pimpinan perusahaan menyuruh data analis di perusahaannya untuk menganalisis barang-barang yang ada di gudang tersebut.

```
Gudang satu memiliki barang dengan kode K090 K121 K890 K998 K541

Gudang dua memiliki barang dengan kode K090 K143 K776 K998 K797
```

Buatlah set untuk menyimpan kode barang yang ada di dua gudang tersebut.

In [28]:
# buatlah set untuk menyimpan kode barang gudang satu
kode_barang1 = {"K090", "K121", "K890", "K998", "K541"}
kode_barang2 = {"K090", "K143", "K776", "K998", "K797"}

# buatlah set untuk menyimpan kode barang gudang dua
...

Ellipsis

Coba gabungkan inventori pada gudang satu dan dua


```
Keterangan:
 - gunakan method union()
```

In [29]:
# buatlah variabel baru untuk menyimpan gabungan dari dua set tersebut
# gunakan variabel set gudang pada soal 4A
kode_gabung = kode_barang1.union(kode_barang2)

# print atau tampilkan set dari variabel baru tersebut
print(kode_gabung)

{'K143', 'K121', 'K890', 'K776', 'K797', 'K998', 'K090', 'K541'}

Pak Handoko ingin tahu kode barang apa saja yang disimpan di gudang satu namun juga disimpan di gudang dua.


```
Keterangan:
- gunakan method intersection()
```

In [30]:
# buat variabel untuk menampung hasil method intersection
# gunakan variabel set gudang pada soal 4A
kode_irisan = kode_barang1.intersection(kode_barang2)

# print hasil dari method intersection()
print(kode_irisan)

{'K998', 'K090'}

In [ ]:
# Input
dept_a = {"laptop", "mouse", "keyboard", "monitor", "printer", "smartwatch"}
dept_b = {"mouse", "keyboard", "tablet", "smartphone", "monitor", "printer", "camera"}
dept_c = {"laptop", "tablet", "smartphone", "monitor", "printer", "router"}

# Your code here
intersection_all = dept_a.intersection(dept_b, dept_c)
intersection_ab = dept_a.intersection(dept_b)
intersection_ac = dept_a.intersection(dept_c)
intersection_bc = dept_b.intersection(dept_c)


union_all = dept_a.union(dept_b, dept_c)
union_ab = dept_a.union(dept_b)
union_ac = dept_a.union(dept_c)
union_bc = dept_b.union(dept_c)


# Don't change code below
print(f"Intersection of all departments: {intersection_all}")
print(f"Intersection of dept_a and dept_b: {intersection_ab}")
print(f"Intersection of dept_a and dept_c: {intersection_ac}")
print(f"Intersection of dept_b and dept_c: {intersection_bc}")

print(f"Union of all departments: {union_all}")
print(f"Union of dept_a and dept_b: {union_ab}")
print(f"Union of dept_a and dept_c: {union_ac}")
print(f"Union of dept_b and dept_c: {union_bc}")

## List Comprehension

new_list = [expression for item in iterable if condition]