## For Loop
___

In [1]:
# cara pertama dengan 
dict_kota = {'Kota_1':'Surabaya', 'Kota_2':'Malang', 'Kota_3':'Bandung'}
for kota in dict_kota:
    print(f'key: {kota} | Value: {dict_kota[kota]}')

key: Kota_1 | Value: Surabaya
key: Kota_2 | Value: Malang
key: Kota_3 | Value: Bandung

## List Comprehension
___

![image.png]()

Kedua contoh code di atas memiliki output yang sama, yaitu membuat list baru bernama `list_gaji_baru` dari `list_gaji`. Setiap warnanya mewakili yang terjadi pada setiap bagian kode. 
- warna `pink` merupakan variabel baru yang kita akan buat. Pada `non-list comprehension` kita harus membuat `empty list` dahulu. Pada `list comprehension` kita langsung bisa menulis pada satu baris kode yang sama.
- warna `hijau` merupakan `loop` untuk mendapatkan element pada variabel `list_gaji`. Jika kita lihat disini `for` loop yang digunakan sama, yang berbeda hanyalah titik dua pada akhir.
- warna `kuning` merupakan apa yang kita inginkan untuk output. Pada `non-list comprehension` membutuhkan method `append` namun pada `list comprehension` cukup kita tuliskan nama variabelnya saja.

In [ ]:
#hasil = [<apa_yang_mau_dimunculkan> for <variabel> in <iterable> if <kondisi>]

In [1]:
# coba jalankan code dibawah
list_gaji = [2_000_000, 3_500_000, 4_500_000, 2_500_000]

# kita akan mencoba mengambil gaji yang lebih besar dari 3.000.000
list_gaji_baru = [gaji for gaji in list_gaji if gaji > 3_000_000]
  
print(list_gaji_baru)

[3500000, 4500000]

In [2]:
[x for x in [1, 2, 3, 4] if x % 2 == 0]

["genap" for x in [1, 2, 3, 4] if x % 2 == 0]

['genap', 'genap']

## **Case Study 1: Jadwal Bekal Makanan**
___

Laras dan Dani pasangan yang baru menikah, namun karna satu dan lain hal biaya pernikahan melebihi budget yang di rencanakan. Karena itu, mereka harus berhemat untuk membayar selisih.

agar hemat, setiap berangkat kerja Dani membawa bekal yang di buat oleh Laras dengan menu yang berbeda setiap 3 hari. Menu yang di bawa yaitu:

| Hari           | Bekal  |
|----------------|--------|
| Pertama        | Nasi + Telur  |
| Kedua          | Nasi + Ikan |
| Ketiga | Nasi + Tahu & Tempe  |


Selama satu bulan tentukan jadwal bekal yang dibawah oleh Dani


```
Keterangan:
- Asumsikan hari pertama = hari Senin = Tanggal 1
- hari kerja dimulai dari Senin - Sabtu
```

In [4]:
# buat for loop yang bisa menentukan jadwal bekal yang dibawa
bekal = ["Nasi + Telur", "Nasi + Ikan", "Nasi + Tahu & Tempe"]
# gunakan range untuk menentukan tanggal
# sesuaikan dengan kondisi kerja seperti hari kerja dimulai dari senin - sabtu
index = 0
for i in range(1,31):
    if i % 7 == 0:
        print(f"Tanggal {i} libur")
        continue
    print(f"Tanggal {i} Bekal {bekal[index]}")
    index += 1
    if index > 2:
        index = 0
...

Tanggal 1 Bekal Nasi + Telur
Tanggal 2 Bekal Nasi + Ikan
Tanggal 3 Bekal Nasi + Tahu & Tempe
Tanggal 4 Bekal Nasi + Telur
Tanggal 5 Bekal Nasi + Ikan
Tanggal 6 Bekal Nasi + Tahu & Tempe
Tanggal 7 libur
Tanggal 8 Bekal Nasi + Telur
Tanggal 9 Bekal Nasi + Ikan
Tanggal 10 Bekal Nasi + Tahu & Tempe
Tanggal 11 Bekal Nasi + Telur
Tanggal 12 Bekal Nasi + Ikan
Tanggal 13 Bekal Nasi + Tahu & Tempe
Tanggal 14 libur
Tanggal 15 Bekal Nasi + Telur
Tanggal 16 Bekal Nasi + Ikan
Tanggal 17 Bekal Nasi + Tahu & Tempe
Tanggal 18 Bekal Nasi + Telur
Tanggal 19 Bekal Nasi + Ikan
Tanggal 20 Bekal Nasi + Tahu & Tempe
Tanggal 21 libur
Tanggal 22 Bekal Nasi + Telur
Tanggal 23 Bekal Nasi + Ikan
Tanggal 24 Bekal Nasi + Tahu & Tempe
Tanggal 25 Bekal Nasi + Telur
Tanggal 26 Bekal Nasi + Ikan
Tanggal 27 Bekal Nasi + Tahu & Tempe
Tanggal 28 libur
Tanggal 29 Bekal Nasi + Telur
Tanggal 30 Bekal Nasi + Ikan

Ellipsis

## **Case Study 2: TV Quiz**
___

Sebuah acara di televisi yang diikuti oleh 200 orang sedang membuat quiz dan akan mengambil 3 volunteer dari penonton. TV tersebut membuat cara perhitungan yang unik untuk mengambil penonton secara acak

Untuk volunteer pertama ambil penonton dengan ketentuan nomor urut yang bisa dibagi 7 dan merupakan hasil perkalian angka 5. Jika ada lebih satu bilangan ambil bilangan dengan urutan **ke 2 dari belakang**

In [13]:
penonton_terpilih = list()

In [14]:
# buatlah sebuah empty list untuk menyimpan seluruh penonton yang terpilih
list_peserta = list()

for i in range(1, 201):
    if i%7 == 0 and i%5 == 0:
        list_peserta.append(i)

print(f"Penonton yang memenuhi persyaratan adalah nomor {list_peserta}")
print(f"Penonton Terpilih pertama adalah penonton dengan nomor urut : {list_peserta[-2]}")

penonton_terpilih.append(list_peserta[-2])

Penonton yang memenuhi persyaratan adalah nomor [35, 70, 105, 140, 175]
Penonton Terpilih pertama adalah penonton dengan nomor urut : 140

Untuk volunteer ke dua adalah penonton dengan nomor urut yang angkanya kurang dari 50 dan merupakan hasil perkalian dari angka 11. Jika ada lebih dari satu angka ambil bilangan **ke dua dari depan**.

In [15]:
# buatlah sebuah empty list untuk menyimpan seluruh penonton yang terpilih
list_peserta = list()

for i in range(1, 201):
    if i < 50 and i%11 == 0:
        list_peserta.append(i)

print(f"Penonton yang memenuhi persyaratan adalah nomor {list_peserta}")
print(f"Penonton Terpilih kedua adalah penonton dengan nomor urut : {list_peserta[2]}")

penonton_terpilih.append(list_peserta[2])

Penonton yang memenuhi persyaratan adalah nomor [11, 22, 33, 44]
Penonton Terpilih kedua adalah penonton dengan nomor urut : 33

Untuk volunteer ke tiga adalah penonton yang memiliki angka total penjumlahan dari angka kelipatan 8 antara 50 sampai 100. Jika hasilnya lebih dari satu angka, ambil **angka yang paling belakang**

In [16]:
# buatlah sebuah empty list untuk menyimpan seluruh penonton yang terpilih
list_peserta = list()

for i in range(1, 201):
    if i >= 50 and i <= 100 and i%8 == 0:
        list_peserta.append(i)

print(f"Penonton yang memenuhi persyaratan adalah nomor {list_peserta}")
print(f"Penonton Terpilih ketiga adalah penonton dengan nomor urut : {list_peserta[-1]}")

penonton_terpilih.append(list_peserta[-1])

Penonton yang memenuhi persyaratan adalah nomor [56, 64, 72, 80, 88, 96]
Penonton Terpilih ketiga adalah penonton dengan nomor urut : 96

In [17]:
print(f"Penonton Terpilih untuk mengikuti quiz adalah {penonton_terpilih}")

Penonton Terpilih untuk mengikuti quiz adalah [140, 33, 96]

## **Case Study 3: Total Belanja**
___

Bu Surti akan berbelanja di swalayan dengan Bu Mima dan Bu Rani


```
belanjaan ibu surti = 20.000, 90.000, 40.000, 160.500
belanjaan ibu mima = 31.000, 43.000, 65.000, 100.000
belanjaan ibu rani = 12.000, 200.000, 61.000, 10.000
```

In [53]:
belanja_surti = [20000, 80000, 40000, 150500]
belanja_mima = [31000, 43000, 65000, 105000]
belanja_rani = [12000, 200000, 61000, 10000]

In [41]:
cek = 0
total_surti = 0
total_mima = 0
total_rani = 0

while cek < len(belanja_surti):
    total_surti += belanja_surti[cek]
    total_mima += belanja_mima[cek]
    total_rani += belanja_rani[cek]
    cek += 1
print(f"Total belanja ibu Surti = Rp {total_surti}")
print(f"Total belanja ibu Mima = Rp {total_mima}")
print(f"Total belanja ibu Rani = Rp {total_rani}")

Total belanja ibu Surti = Rp 290500
Total belanja ibu Mima = Rp 244000
Total belanja ibu Rani = Rp 283000

In [54]:
diskon = [0.01, 0.03]

cek = 0
total_surti = 0
total_mima = 0
total_rani = 0

while cek < len(belanja_surti):
    if belanja_surti[cek] > 50000 and belanja_surti[cek] < 100000:
        belanja_surti[cek] = belanja_surti[cek] - (belanja_surti[cek]*diskon[0])
    elif belanja_surti[cek] > 100000:
        belanja_surti[cek] = belanja_surti[cek] - (belanja_surti[cek]*diskon[1])
    else:
        pass
    if belanja_mima[cek] > 50000 and belanja_mima[cek] < 100000:
        belanja_mima[cek] = belanja_mima[cek] - (belanja_mima[cek]*diskon[0])
    elif belanja_mima[cek] > 100000:
        belanja_mima[cek] = belanja_mima[cek] - (belanja_mima[cek]*diskon[1])
    else:
        pass
    if belanja_rani[cek] > 50000 and belanja_rani[cek] < 100000:
        belanja_rani[cek] = belanja_rani[cek] - (belanja_rani[cek]*diskon[0])
    elif belanja_rani[cek] > 100000:
        belanja_rani[cek] = belanja_rani[cek] - (belanja_rani[cek]*diskon[1])
    else:
        pass
    
    total_surti += belanja_surti[cek]
    total_mima += belanja_mima[cek]
    total_rani += belanja_rani[cek]
    cek += 1
print(f"Total belanja ibu Surti = Rp {total_surti}")
print(f"Total belanja ibu Mima = Rp {total_mima}")
print(f"Total belanja ibu Rani = Rp {total_rani}")

Total belanja ibu Surti = Rp 285185.0
Total belanja ibu Mima = Rp 240200.0
Total belanja ibu Rani = Rp 276390.0

## **Case Study 5: Inventori Toko**
___

Sudah akhir minggu, Indra ingin mengetahui daftar barang jualan agar bisa dilakukan restock barang. Daftar inventori toko Indra sebagai berikut

|Nama Barang|Jumlah|
|-|-|
|Sandal Angsa|4|
|Mie Selera|15|
|Kopi Putih|20|
|Kopi Kapal Terbakar|12|
|Sabun Kehidupan|7|
|Sampo Matahari|11|
|Lombok|3|
|Bawang Merah|2|
|Bawang Putih|3|
|Kecap EFG |6|

Buatlah list yang menyimpan list lain (list of list) dari inventory toko tersebut


```
Keterangan
- bentuk list = [[nama_barang, jumlah], ...]
```

In [56]:
# buatlah variabel dan list of list yang menyimpan inventory toko
inventori_toko = [['Sandal Angsa', 4], ['Mie Selera', 15], ['Kopi Putih', 20], ['Kopi Kapal Terbakar', 12], ['Sabun Kehidupan', 7], ['Sampo Matahari', 11], ['Lombok', 3], ['Bawang Merah', 2], ['Bawang Putih', 3], ['Kecap EFG', 6]]

# kemudian print list of list tersebut
print(inventori_toko)

[['Sandal Angsa', 4], ['Mie Selera', 15], ['Kopi Putih', 20], ['Kopi Kapal Terbakar', 12], ['Sabun Kehidupan', 7], ['Sampo Matahari', 11], ['Lombok', 3], ['Bawang Merah', 2], ['Bawang Putih', 3], ['Kecap EFG', 6]]

In [58]:
# Your code here
status = {"Overweight": 0,
    "Underweight": 0}

def identify_health_risks(bmi_values):
    for i in range(len (bmi_values)):
        if bmi_values[i] > 25:
            status["Overweight"] += 1 
        elif bmi_values[i] < 18.5:
            status["Underweight"] += 1
        else:
            pass
    return status


# Input
bmi_values = [25, 30, 18.5, 28, 21]
result = identify_health_risks(bmi_values)
print(result)

{'Overweight': 2, 'Underweight': 0}

In [64]:
# Your code here


# Input
sales_data = [
    {'units_sold': 100, 'revenue': 1000.0},
    {'units_sold': 200, 'revenue': 2000.0},
    {'units_sold': 150, 'revenue': 1500.0}
]
sales_data[0]

print((sales_data[0]["units_sold"]))

100